* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #5fb15f; /* Green background */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .wrapper{
    padding: 10px;
  }

  .content {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    
  }
  
  .content img {
    width: 80px;
  }
  
  .content h2 {
    font-size: 20px;
    color: #228B22;
    margin-bottom: 10px;
  }
  
  .content p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }

  .need_to_know p{
    text-align: left;
    font-size: 12px;
    }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .form-group input::placeholder {
    color: #aaa;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #228B22;
    background-color: #eef7ee;
  }
  
  .error-message,
  .success-message {
    font-size: 12px;
    margin-top: 10px;
  }
  
  form .error-message {
    color: red;
  }
  
  form .success-message {
    color: green;
  }
  
  a {
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none; /* Remove underline */
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1; /* Makes the buttons fill the container */
    box-sizing: border-box; /* Ensures padding is included in width */
  }

  .return{
    background-color: #ccc; /* Green button color */
  color: #555;
  }

  .save{
    background-color: #228B22; /* Green button color */
    color: white;
  }

  .return:hover{
    background-color: #aaa; /* Green button color */
  }

  .save:hover{
    background-color: #1E5631; /* Green button color */
  }