*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #72BF78; /* Green background */
    color: #243642;
  }

  .content {
    max-width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
  }

  .content h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #387478;
  }

  .content p {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
    width: 100%;
    display: flex; /* Make form-group a flex container */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
  }

  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #A0D683;
    font-size: 1.2rem;
    background-color: #D3EE98;
    color: #243642;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }

  .form-group input::placeholder {
    color: #243642;
    opacity: 0.7;
  }

  .form-group input:focus {
    outline: none;
    border-color: #72BF78;
    background-color: #EBF6DD;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
  }

  button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .return-button {
    background-color: #FF3131; /* Changed background color */
    color: #243642;
    padding: 10px 20px;
    font-size: 1rem;
  }

  .return-button:hover {
    background-color: #FAA0A0; /* Hover color for the return button */
  }

  .button-container {
    display: flex;
    justify-content: center; /* Center the button container */
    width: 100%;
  }

  .reset-password-button {
    background-color: #A0D683; /* Button color */
    color: #243642; /* Text color */
    margin-left: 10px; /* Space between buttons */
  }
  .reset-password-button:hover{
    background-color: #87C676;
  }

  @media(max-width: 650px){
    .password-reset-container{
      padding: 0 30px;
    }

    .input_design{
      max-width: 290px;
    }
  }
