<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS_DESIGNS/logged_out_design.css">
    <script src="https://kit.fontawesome.com/ff87496a7c.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="static/image/cvsu_logo.png">
    <title>Logged Out</title>
</head>

<body>
    <div class="container">
        <div class="left-side">
            <div class="content">
                <img src="static/image/cvsu_logo.png" alt="Logo" class="logo">
                <h1>Cavite State University, <br> Bacoor Campus</h1>
            </div>

            <div class="details">
                <p><i class="fa-solid fa-location-dot"></i> Soldiers Hills IV, Molino VI, Bacoor City, Cavite</p>
                <p><i class="fa-regular fa-envelope"></i> cvsubacoor@cvsu.edu.ph</p>
                <p><i class="fa-solid fa-phone"></i> (046) 476-5029</p>

                <button>Learn More</button>
            </div>
        </div>

        <div class="right-side">
            <h2>You have been logged out</h2>
            <p>Thank you for visiting!</p>
            <form action="">
                <button>Back to Login</button>
            </form>
        </div>
    </div>
</body>
</html>
