{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static "image/cvsu_logo.png"%}">
    <link rel="stylesheet" href="{% static "css/password_reset_form_design.css" %}">
    <title>Password Reset</title>
    <style>

    </style>
</head>
<body style="background-image: url('{% static "image/bg.png" %}')">
    <div class="content">
        <img src="{% static "image/cvsu_logo.png"%}" alt="CvSU Logo">
        <h2>Password Reset</h2>
        <p>Enter your email address, and we'll send you instructions to reset your password.</p>
        <form method="post">
            <div class="form-group">
    {{form.as_p}}
    <input type="submit"></p>
    {% csrf_token %}
</form>
            </div>
        </form>
            <div class="button-container">
                <a href="{% url 'login' %}">Return to login</a>
               
            </div>
    </div>
</body>
</html>
