{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/password_reset_confirm_design.css" %}">
    <link rel="icon" type="image/png" href="{% static "image/cvsu_logo.png" %}">
    <title>Reset Password</title>
</head>
<body  style="background-image: url('{% static "image/bg.png" %}')">
    <div class="wrapper">
    <div class="content">
        <img src="{% static "image/cvsu_logo.png"%}" alt="CvSU Logo">
        <h1>Reset your password</h1>
        <form method="post">
            <div class="form-group">
{% if validlink %}
<p>Please enter your new password twice:</p>
    {{form.as_p}}
    {% csrf_token %}
    <p><input type="submit" value="Change my password"></p>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
            <div class="button-container">
                 <a class="return" href="{% url 'login' %}">Return to Login</a>
            </div>
        </form>
    </div>
    <div>
</body>
</html>
