{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static "image/cvsu_logo.png" %}">
    <link rel="stylesheet" href="{% static "css/password_reset_complete_design.css"%}">
    <title>Password Change Successful</title>
</head>
<body style="background-image: url('{% static "image/bg.png" %}')">
    <div class="content">
        <img src="{% static "image/cvsu_logo.png" %}" alt="CvSU Logo">
        <h2>Password Set</h2>
        <p>You password has been set you can login now.</p>
        <a href="{% url 'login' %}"> Login </a>
    </div>
</body>
</html>
