<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/image/cvsu_logo.png">
    <link rel="stylesheet" href="CSS_DESIGNS/password_change_done_design.css">
    <title>Password Change Successful</title>
</head>
<body>
    <div class="content">
        <img src="static/image/cvsu_logo.png" alt="CvSU Logo">
        <h2>Password Reset Successful</h2>
        <p>Congratulations, your Account has been successfully updated.</p>
        <button type="button" class="return-button" title="Return to login">Back to Login</button>
    </div>
</body>
</html>
