       {% load static %}
        <section class="flex">
            <img src="{% static 'image/cvsu_logo.png'%}" alt="Logo CvSU" class="cvsu_logo">
           <a href="{% url 'home' %}" class="logo">CvSU</a>

           <form action="search.html" method="post" class="search-form">
              <input type="text" name="search_box" required placeholder="search courses..." maxlength="100">
              <button type="submit" class="fas fa-search"></button>
           </form>

           <div class="icons">
              <div id="menu-btn" class="fas fa-bars"></div>
              <div id="search-btn" class="fas fa-search"></div>
              <div id="user-btn" class="fas fa-user"></div>
              <div id="toggle-btn" class="fas fa-sun"></div>
           </div>

           <div class="profile">
              <img src="{% static 'image/pic-1.jpg' %}" class="image" alt="">
              <h3 class="name">{{ firstyearstudent1.First_name }}</h3>
              <p class="role">student</p>
              <a href="{% url 'student_profile' %}" class="btn">view profile</a>
              <div class="flex-btn">
                <form action="{% url "logout" %}" method = "post" class="logout">
                <!-- <div class="logout_btn"> </div>-->
                  <button class="btn" type = "submit">Logout</button>
                {% csrf_token %}
                </form>

            </div>
           </div>

        </section>

     </header>