<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="forgotPasswordDesign.css">
    <link rel="icon" type=png href="static\image\cvsu_logo.png">

</head>

<body>
    <div class="password-reset-container">
        <div class="content">
          <h2>Password Reset</h2>
          <p>Enter your email address and we'll send you instructions to reset your password.</p>
      
          <form on:submit={handleSubmit}>
            <div class="form-group">
              <label for="email" >Email:</label>
              <input class="input_design" type="email" id="email" bind:value={email} required title="Enter your email here"/>
            </div>
      
            <div class="button-container">
              <button type="button" onclick="returnToLogin()" class="return-button" title="Return to login">Return to Login</button>
              <button type="submit" class="reset-password-button" title="Reset password">Reset Password</button>
            </div>
          </form>
      
          <!-- Delete Mo nalang to -->
          <button onclick="gotoresetsuccess()"> Sample Template for reset succes</button>
          <button onclick="gotoresetpage()"> Sample Template for reset page</button>
      
        </div>
      </div>      

    <script>
        function returnToLogin(){
            window.location.href = "login.html";
        }
        function gotoresetsuccess(){
            window.location.href = "resetSuccess.html";
        }

        function gotoresetpage(){
            window.location.href = "resetPage.html";
        }
    </script>
</body>
</html>