* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5fb15f; /* Green background */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px; /* Adjust width as needed */
}

.confirmation img {
    width: 150px; /* Adjust width as needed */
    margin-bottom: 20px;
}

.confirmation h1 {
    color: #4CAF50; /* Green color for heading */
    margin-bottom: 15px;
}

.confirmation p {
    margin-bottom: 10px;
    text-align: center;
}

.confirmation a {
    color: white; /* White text color for the link */
    background-color: #4CAF50; /* Green background for the link */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.confirmation a:hover {
    background-color: #1E5631; /* Darker green on hover */
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .container {
        width: 90%; /* Adjust width for mobile */
        margin: 10px auto; /* Reduce margins for mobile */
        padding: 20px; /* Adjust padding for mobile */
    }

    .confirmation img {
        width: 100px; /* Adjust width as needed */
        margin-bottom: 15px;
    }

    .confirmation h1 {
        font-size: 1.8rem; /* Adjust heading size */
    }

    .confirmation p {
        font-size: 0.9rem; /* Adjust paragraph size */
    }
}